body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scoreboard {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  height: 200px;
  width: 325px;
}
.team-score-container {
  background-color: dodgerblue;
  height: 70%;
  width: 60%;
}
.bases-container {
  background-color: grey;
  height: 70%;
  width: 40%;
  float: right;
}
.info-bar-container {
  background-color: red;
  width: 100%;
  height: 30%;
}
