body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('FenwayPark.jpeg') no-repeat center center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scoreboard-container {
  margin-top: 15%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}
.scoreboard {
  display: flex;
  flex-wrap: wrap;
  background-color: purple;
  height: 200px;
  width: 350px;
}
.team-score-container {
  background-color: blue;
  height: 70%;
  width: 60%;
}
.bases-container {
  background-color: #222;
  height: 70%;
  width: 40%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-bar-container {
  display: flex;
  background-color: #111;
  color: white;
  width: 100%;
  height: 30%;
  font-size: 32px;
}
.team {
  font-size: 40px;
  color: white;
  display: flex;
  align-items: center;
}
.team-1 {
  background-color: red;
  height: 50%;
}
.team-2 {
  background-color: dodgerblue;
  height: 50%;
}
.team-name {
  margin-left: 10px;
}
.score {
  width: 100%;
  text-align: right;
  margin-right: 10px;
}
.base {
  border: 2px solid #ccc;
  width: 86%;
  height: 86%;
}
.active {
  background-color: white;
}
.base-positioning {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 65%;
  width: 70%;
  transform: rotate(45deg);
}
.inning-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: orange; */
  width: 25%;
}
.outs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: purple; */
  width: 36%;
}
.count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  width: 37%;
}

/* inning arrows from css-tricks */
.arrow-up {
  margin-right: 2px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
  margin-bottom: 3px;
}

.arrow-down {
  margin-right: 2px;
  margin-top: 3px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid white;
}
.hidden-arrow {
  display: none;
}
.buttons-container {
  display: flex;
  justify-content: center;
}
